<form>
  <button {{action "saveItem" model}}>Save Changes</button>
  <button {{action "cancel" model}}>Cancel</button>
  <h4>Item Name: {{input placeholder="Item Name" value=model.name maxlength=50}}</h4>
  <h4>Value: {{input placeholder="No Value Given" value=model.value type="number"}}</h4>
</form>
