<form {{action "addUserToBox" box on="submit"}}>
  {{input placeholder="Enter other User's Username" value=newUsersBox.email}}
  <div>
     {{input type="checkbox" name="writeAccess" checked=newUsersBox.writeAccess}}
     Make Admin (Added User will have Read-Only Access if unchecked)
  </div>

  <button>Add User</button>
</form>
