{{#if model.box.editable}}
<h2>Item Details:</h2>
{{edit-item-form model=model
                 cancel="cancelChanges"
                 saveItem="updateItem"}}
{{else}}
{{#link-to "boxes.box" model.box.id}}Up to {{model.box.name}}{{/link-to}}
<h2>You must be an Admin for this Box to edit it! Ask an authorized Box member for permission to edit this Box.</h2>
{{/if}}
