{{#if model.box.editable}}
<h2>Item Details:</h2>
{{edit-item-form model=model
                 cancel="cancelChanges"
                 saveItem="updateItem"}}
{{else}}
{{#link-to "boxes.box" model.box.id}}Up to {{model.box.name}}{{/link-to}}
<h2>You must have write access for this Box to edit Items in it! Ask an authorized Box member for permission to edit Items in this Box.</h2>
{{/if}}
