<h2>My Items</h2>
<ul>

{{#each model as |item|}}
  <h4>{{#link-to "items.item" item}}Item Name: {{item.name}}{{/link-to}}</h4>
  <ul>
    <li>Value: {{item.value}}</li>
    <li>Box: {{item.box.name}}</li>
  </ul>
{{/each}}
</ul>
