{{#link-to "boxes.box" model}}Up to {{model.name}}{{/link-to}}
{{#if model.editable}}
<h2>New Item:</h2>
{{create-item-form box=model
                   createItem="createNewItem"}}
{{else}}
<h2>You must be an Admin for this Box to edit it! Ask an authorized Box member for permission to edit this Box.</h2>
{{/if}}
