<h2>Edit Account Details for {{model.user.email}}</h2>


{{change-password-form submit="changePassword"
                       passwords=model.passwords
                       reset="cancelChanges"}}

{{change-phone-form phone=model.user.phone
                    submit="updatePhone"
                    reset="cancelChanges"}}
