<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-12 col-lg-10 col-lg-offset-1">
    <h2>Getting Started</h2>

     <p>Start out by {{#link-to "boxes.new"}} making your first box. {{/link-to}} All boxes are completely private by default,
     until you add other users to them. Inside your boxes you can create items to
     keep track of the important things in your life. Currently each item has fields
     for entering a name (mandatory), and a value (optional). What's Value you ask?
     Is it dollars? Is it euros? Is it that indescribeable 'X-factor?' It's whatever
     you want it to be! You could make a To-Do list Box filled with Items for each
     actionable item. You can make a series of boxes to keep track of which drawer
     you keep which nick-nacks in. The sky's the limit.</p>

     <p>Now that we've got the hang of making boxes. Let's get some other people into
     the mix! Inside one of your boxes, click the 'Edit' button to go to the Box Edit
     page. In addition to changing the name of your box, you can share your box with
     other users. To do that, enter the username of someone you know into the form at
     the bottom of the page. Not sure who to add? Add Username 'ian' to share your box with me!</p>
     <p>If you leave the `Give Write Access` box unchecked, the
     user will only have read-access to the box, meaning they'll be able to see it
     and all of it's contents (and remove the box from their list if they want), but
     they won't be able to create/edit/delete any items, and they won't be able to
     add or change any User permissions. They also won't be able to send any
     Item-messages, but they will be able to receive them.</p>
     <p>If you do check the `Give Write Access` box, keep in mind that the user you add
     will share full administrative control of the box. They'll be able to change and
     delete the box, add/change/delete items, add and remove user permissions, and
     message other members of the box. So only give write access to users you trust!</p>

 </div>
</div>
