<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-12 col-lg-10 col-lg-offset-1">
    <h2>Welcome!</h2>
    <p>WhatsMine is an inventory/task management tool where users can organize ‘Items’ they care
     about (tangibles, to-dos, etc.) into shareable ‘Boxes’. You can remind a roommate it’s their turn to buy milk or clean the living room, alert
     a teammate about an upcoming deadline, show your co-workers which items in the
     fridge are yours and which are for sharing.</p>

     <p>In order to use WhatsMine, you'll need to be logged into an account. You can
      {{#link-to "sign-up"}}  sign up here! {{/link-to}} Or, if you'd rather not sign up for an account, you can {{#link-to "sign-in"}} log into {{/link-to}}
       a demo account (Username: 'demo', Password: 'demo').</p>

     <p>When you sign up for your WhatsMine account, registering your phone number is
     optional, but including it will allow the people you share items with to message
     you via SMS. If you change your mind, you can always change the phone number
     tied to your account by going to the Account page.</p>

     <p>Once you're logged in, check out the {{#link-to "getting-started"}} Getting Started {{/link-to}} section for more info!</p>

 </div>
</div>
