<h2>Users</h2>

<ul>

{{#each model as |user|}}
  <li>{{user.email}}
    <ul>
      {{#each user.items as |item|}}
      <li>Item: [{{item.name}}] Value: {{item.value}}</li>
      {{/each}}
    </ul>
  </li>
{{/each}}
</ul>
